.batiment-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .batiment-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .artisan-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .artisan-card {
    background-color: #f1f8fc;
    border: 1px solid #82b864;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .artisan-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .artisan-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  .rating span {
    color: #cd2c2e;
  }
  
  .details {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .details p {
    margin-bottom: 5px;
  }
  
  .expanded {
    height: auto;
  }
  